<footer class="container-fluid pt-5 pb-4 border-top">
    <div class="container">
    <div class="row">
        <!-- First Column: BITMOQ -->
        <div class="col-12 col-md">
            <div class="mv0 lh-copy">
                <h5>
                    BITMOQ
                </h5>
                <div class="d-flex gap-3 mb-3">
                    <a href="https://www.facebook.com/bitmoqtechnology" class="text-decoration-none"><i class="fa-brands fa-square-facebook fa-xl"
                            style="color: #024dcf;"></i></a>
                    <a href="https://twitter.com/bitmoqtech" class="text-decoration-none"><i class="fa-brands fa-square-x-twitter fa-xl"
                            style="color: #050505;"></i></a>
                    <a href="https://www.linkedin.com/company/bitmoq-technology/" class="text-decoration-none"><i class="fa-brands fa-linkedin fa-xl"
                            style="color: #02768d;"></i></a>
                </div>
            </div>
            <small class="d-block mb-3 text-muted">Copyright <span id="get-current-year"></span> © {{site.title}}
                Private Limited. All rights reserved.
            </small>
        </div>

        <!-- Second Column: Services -->
        <div class="col-6 col-md">
            <h5>Services</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <a class="text-muted" href="{{site.url}}/services">Our Services</a>
                </li>
            </ul>
        </div>

        <!-- Third Column: Resources -->
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <a class="text-muted" href="{{site.url}}/blogs/">Blogs</a>
                </li>
                <li>
                    <a class="text-muted" href="{{site.url}}/case-studies/">Case Studies</a>
                </li>
                <li>
                    <a class="text-muted" href="{{site.url}}/blogs/archives">Content by Date</a>
                </li>
                <li>
                    <a class="text-muted" href="{{site.url}}/blogs/categories">Content by Category</a>
                </li>
            </ul>
        </div>

        <!-- Fourth Column: Quick Links -->
        <div class="col-6 col-md">
            <h5>Quick Links</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <a class="text-muted" href="{{site.url}}/about">About</a>
                </li>
                <li>
                    <a class="text-muted" href="{{site.url}}/contact">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
    </div>
</footer>
