<footer class="container-fluid pt-4 my-md-5 pt-md-5 border-top">
    <div class="row container-fluid">
        <div class="col-12 col-md">
            <div class="mv0 lh-copy">
                <h5>
                    BITMOQ
                </h5>
                <div>
                    <a href="https://www.facebook.com/bitmoqtechnology"><i class="fa-brands fa-square-facebook fa-xl"
                            style="color: #024dcf;"></i></a>
                    <a href="https://twitter.com/bitmoqtech"><i class="fa-brands fa-square-x-twitter fa-xl"
                            style="color: #050505;"></i></a>
                    <a href="https://www.linkedin.com/company/bitmoq-technology/"><i class="fa-brands fa-linkedin fa-xl"
                            style="color: #02768d;"></i></a>
                </div>
            </div>
            <small class="d-block mb-3 text-muted">Copyright <span id="get-current-year"></span> © Bitmoq Technologies
                Private Limited. All rights reserved.
            </small>
        </div>
        <div class="col-6 col-md">
            <a href="{{site.url}}/services/">
                <h5>Expertise & Services</h5>
            </a>
            <ul class="list-unstyled text-small">
                <li>
                    <a class="text-muted" href="{{site.url}}/services#delivery-services">Delivery
                        Services</a>
                </li>
                <li>
                    <a class="text-muted" href="{{site.url}}/services#tech-stack">Technologies</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <a href="{{site.url}}/blogs/">
                <h5>Blogs</h5>
            </a>
            <ul class="list-unstyled text-small">
                <li>
                    <a class="text-muted" href="{{site.url}}/blogs/archives">Blogs by Date</a>
                </li>
                <li>
                    <a class="text-muted" href="{{site.url}}/blogs/categories">Blogs by Category</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Quick Links</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <a class="text-muted" href="{{site.url}}/about">About Us</a>
                </li>
                <li>
                    <a class="text-muted" href="{{site.url}}/contact">Contact Us</a>
                </li>
                <li>
                    <a class="text-muted" href="{{site.url}}/careers">Careers</a>
                </li>
                <!-- <li>
                    <a class="text-muted" href="{{site.url}}/case-studies">Case Studies</a>
                </li>
                <li>
                    <a class="text-muted" href="{{site.url}}/customer-testimonials">Customer Testimonials</a>
                </li> -->
            </ul>
        </div>
    </div>
</footer>