<header class="container-fluid py-3 mb-4 border-bottom">
    <div class="container-fluid d-flex flex-wrap justify-content-center">
        <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-sm-auto link-body-emphasis text-decoration-none">
            <span class="fs-4 text-uppercase fw-bold ">{{site.title}}</span>
        </a>
        <ul class="nav nav-underline">
            <li class="nav-item"><a href="{{site.url}}/about" class="nav-link link-body-emphasis px-2">About Us</a></li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link link-body-emphasis px-2 dropdown-toggle" id="servicesDropdown" data-bs-toggle="dropdown" aria-expanded="false">Our Services</a>
                <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
                    <li><a href="{{site.url}}/services/functional-consulting" class="dropdown-item">Functional Consulting</a></li>
                    <li><a href="{{site.url}}/services/delivery" class="dropdown-item">Technology/Delivery Services</a></li>
                    <li><a href="{{site.url}}/services/workforce" class="dropdown-item">Workforce as a Service</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link link-body-emphasis px-2 dropdown-toggle" id="solutionsDropdown" data-bs-toggle="dropdown" aria-expanded="false">Solutions</a>
                <ul class="dropdown-menu" aria-labelledby="solutionsDropdown">
                    <li><a href="{{site.url}}/#" class="dropdown-item">API Migration &amp; Modernization</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link link-body-emphasis px-2 dropdown-toggle" id="resourcesDropdown" data-bs-toggle="dropdown" aria-expanded="false">Resources</a>
                <ul class="dropdown-menu" aria-labelledby="resourcesDropdown">
                    <li><a href="{{site.url}}/blogs" class="dropdown-item">Blogs</a></li>
                    <li><a href="{{site.url}}/case-studies" class="dropdown-item">Case Studies</a></li>
                </ul>
            </li>
            <li class="nav-item"><a href="{{site.url}}/contact" class="nav-link link-body-emphasis px-2">Contact Us</a></li>
        </ul>
    </div>
</header>
