<div>
    <h2>Our Office Location</h2>
    <p>We are based out of Kochi, Kerala, India.</p>
    <div class="map-container" style="height: 400px;">
        <!-- Google Maps Embed -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.2637377511487!2d76.28415407578424!3d9.995059790110107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080db7c57b631b%3A0x4e2c7d1c34a19539!2sInnerspace%20Coworking!5e0!3m2!1sen!2sus!4v1725460368871!5m2!1sen!2sus" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>