<div class="row g-4">
    <!-- Card 1 -->
    <div class="col-md-4 d-flex">
        <div class="card p-3 w-100 h-100">
            <div class="card-body">
                <h5 class="card-title"><a href="{{site.url}}/services/business-consulting">Business Consulting</a></h5>
                <p class="card-text">Mapping your business objectives to programs, deriving project needs/tuning existing projects to deliver outcomes, measuring & monitoring outcomes, incorporating strategies to boost ROI and optimize spend.</p>
            </div>
        </div>
    </div>
    <!-- Card 2 -->
    <div class="col-md-4 d-flex">
        <div class="card p-3 w-100 h-100">
            <div class="card-body">
                <h5 class="card-title"><a href="{{site.url}}/services/delivery">Technology/Delivery Services</a></h5>
                <p class="card-text">Receive end-to-end platform/software development services across all phases of SDLC - Requirements Gathering, Design & Architecture, Coding, Quality Control, Release Management, Maintenance & Support packaged in the delivery model best suited for you.</p>
            </div>
        </div>
    </div>
    <!-- Card 3 -->
    <div class="col-md-4 d-flex">
        <div class="card p-3 w-100 h-100">
            <div class="card-body">
                <h5 class="card-title"><a href="{{site.url}}/services/workforce">Workforce as a Service</a></h5>
                <p class="card-text">Empower yourself with a new team or augment staff to your existing team with the unique skillset needs that you desire. Engage and disengage with flexible models that suit you the best; you set the expectations, and the workforce will deliver.</p>
            </div>
        </div>
    </div>
</div>